* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*  */

/* 
Notas:
Nº1: ESTO NO HACERLO EN EL BODY ENTERO SI QUIERO UN LAYOUT COMPLETO
PORQUE CENTRA TODO SIN CONTROL
display: flex;
flex-direction: column;
align-items: center;

Nº2: DISPLAY FLEX AFECTA AL HIJO DIRECTO, NO A SUS HIJOS COMO EN ESTE CASO:
<nav class="navbar">
  <ul>
    <li>...</li>
  </ul>
</nav>
LOS LI NO SE VAN A ALINEAR GRACIAS A DISPLAY FLEX

Nº3: text-align: center; NO CONTROLA DISTRIBUCIÓN DE LINKS

Nº4: SI VOY A USAR FLEX DEBO USARLO BIEN, DEFINIENDO DIRECCION Y DISTRIBUCION DEL FLEX
FLEX NECESITA DIRECCIÓN Y UN OBJETIVO CLARO
NO SOLO USAR:
display: flex;
align-items: center;

Nº5: REVISAR LAS CLASES DE LO QUE QUIERO MODIFICAR

Nº6: GAP NO SEPARA LINKS, SEPARA HIJOS DIRECTOS EN UN
CONTENEDOR FLEX/GRID

Nº7 Height Delimita el contenido, si se quiere hacer dinamico hay que sacarlo

Nº8 PARA LAYOUT HORIZONTAL DE 1 FILA DEBEMOS USAR FLEX, NO GRID
GRID ES CUANDO SE SUMAN FILAS Y COLUMNAS

Nº9 FLEX:1; AYUDA A QUE EL CONTENIDO SE ACOMODE MEJOR, CRECIENDO Y OCUPANDO ESPACIO DISPONIBLE

Nº10 FLEX:WRAP; DEJA QUE LOS ELEMENTOS BAJEN DE LINEA SI NO ENTRAN

Nº11 MARGIN AFECTA AL ELEMENTO, NO A SUS HIJOS


*/

body{
    background-color: rgb(231, 231, 231);
}

header{
    background-color: white;
    padding: 20px;
    text-align: center;
}

main{
    display: flex;
    gap: 20px;
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

aside{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    flex: 1;
}

li{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

section{
    flex: 2;
}

iframe{
    width: 100%;
    height: 400px;
    display: block;
}

a{
    text-align: center;
    border-radius: 5px;
    border: 1px solid blue;
    padding: 10px 30px;
    color: blue;
    text-decoration: none;
    display: inline-block;
    align-self: flex-start;
}

.branch{
    color: blue;
}

.schedule{
    color: grey;
}