* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*  */

/* 
Notas:
Nº1: ESTO NO HACERLO EN EL BODY ENTERO SI QUIERO UN LAYOUT COMPLETO
PORQUE CENTRA TODO SIN CONTROL
display: flex;
flex-direction: column;
align-items: center;

Nº2: DISPLAY FLEX AFECTA AL HIJO DIRECTO, NO A SUS HIJOS COMO EN ESTE CASO:
<nav class="navbar">
  <ul>
    <li>...</li>
  </ul>
</nav>
LOS LI NO SE VAN A ALINEAR GRACIAS A DISPLAY FLEX

Nº3: text-align: center; NO CONTROLA DISTRIBUCIÓN DE LINKS

Nº4: SI VOY A USAR FLEX DEBO USARLO BIEN, DEFINIENDO DIRECCION Y DISTRIBUCION DEL FLEX
FLEX NECESITA DIRECCIÓN Y UN OBJETIVO CLARO
NO SOLO USAR:
display: flex;
align-items: center;

Nº5: REVISAR LAS CLASES DE LO QUE QUIERO MODIFICAR

Nº6: GAP NO SEPARA LINKS, SEPARA HIJOS DIRECTOS EN UN
CONTENEDOR FLEX/GRID

Nº7 Height Delimita el contenido, si se quiere hacer dinamico hay que sacarlo

Nº8 PARA LAYOUT HORIZONTAL DE 1 FILA DEBEMOS USAR FLEX, NO GRID
GRID ES CUANDO SE SUMAN FILAS Y COLUMNAS

Nº9 FLEX:1; AYUDA A QUE EL CONTENIDO SE ACOMODE MEJOR, CRECIENDO Y OCUPANDO ESPACIO DISPONIBLE

Nº10 FLEX:WRAP; DEJA QUE LOS ELEMENTOS BAJEN DE LINEA SI NO ENTRAN

Nº11 MARGIN AFECTA AL ELEMENTO, NO A SUS HIJOS


*/

body{
    background-color: rgb(235, 233, 233);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

main{
    margin-top: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: auto;
    min-height: 300px;
    padding: 20px;
    border-radius: 20px;
}

label, input, section, p{
    padding: 10px;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

button{
    color: red;
    border: none;
    background-color: white;
}

#add_task{
    background-color: rgb(79, 110, 250);
    padding: 10px;
    border-radius: 10px;
    color: white;
}


#new_task{
    border: 1px solid rgb(184, 184, 184) ;
    padding: 15px;
}

input{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: black;
}

button{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: red;
    line-height: 1;
}


ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-radius: 10px;
    border: 1px solid rgb(184, 184, 184) ;
    background-color: rgb(238, 238, 238);
}

label{
    display: flex;
    align-items: center;
}

hr{
    margin: 20px;
}

.file{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button{
    background-color: rgb(238, 238, 238);
}